# MongoDB Connection (Get this from MongoDB Atlas)
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/pereira-bot?retryWrites=true&w=majority

# WhatsApp Cloud API Credentials (From Meta for Developers)
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=my_secret_verify_token

# Auth.js (Generate with: npx auth secret)
AUTH_SECRET=sua_chave_secreta_aqui

# Vercel URL
NEXT_PUBLIC_URL=http://localhost:3000
